@model ShopCartViewModel
<div class="container">
    @foreach(var elem in Model.shopCart.listShopItems) {
       <div class="alert alert-warning mt-3">
            <b>Автомобиль:</b>@elem.car.name<br/>
            <b>Цена:</b>@elem.car.price.ToString("c")<br/>
       </div>
    }
    <hr/>
    <a
        class="btn btn-danger"
        asp-controller="Order"
        asp-action="Checkout"
        >
        Оплатить
    </a>
</div>